body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #d2d2d2;
}

#title {
    font-family: sans-serif;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#myCanvas {
    box-shadow: 0px 0px 10px 2px #6f6f6f;

}

#paint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#predict-btn {
    padding: 5px;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 10px 2px #6f6f6f;
    margin-top: 50px;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
}

#result {
    font-size: 1rem;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px #6f6f6f;
    background-color: #fff;
    margin-left: 200px;
}

#input_and_output {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}