<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div id="paint">
        <h1 id="title">Digit Extractor</h1>
        <div id="input_and_output">
            <div id="canvas_wrapper">
                <canvas id="myCanvas"></canvas>
            </div>
            <div id="result">Draw in the black box.</div>
        </div>
        <button id="predict-btn" onclick="onPredict()">Predict</button>

    </div>

    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>